*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.bg-background{
position: absolute;
right: 0;
width: 50%;
height: 100vh;
clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
background-color: #F6B400;right: 0;
}
.logo{
    height: 100;
}
.burger-logo{
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 35px;
}
.links ul{
    justify-content: space-around;
    display: flex;
    list-style: none;
}
li a{
    display: inline-flex;
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 40px;
    text-decoration: none;
.links li{
    float: right;
    list-style: none;
    padding: 16px;
    font-size: 21px;
    font-weight: bold;
}
li a:hover{
    cursor: hand;
}
.burger-img{
    padding: 20px;
}
.rain{
    float: left;
    font-weight: 650;
    font-size: 40px;
    margin-right: 6%;
    margin-right: 7%;
    padding-top: 200px;
}
.slogan{
    margin-top: 50px;
    font-style: calc();
    font-size: 20px;
    font-weight: 549;
    color: gray;
}
.btn{
    margin-top: 900px;
    padding: 15px 35px;
    background-color: orange;
    color: white;
    font-weight: 200;
    border: none;
    border-radius: 20px 20px 0;
    float: left; 
    position:
}
.services{
    background-color: #E1EBE6;
    box-sizing: border-box;
    padding: 50px;
    height: 500px;
}
.quality{
    box-shadow: 0 4px 12px 0;
    float: left;
    border-radius: 10px;
    padding: 30px;
    width: 380px;
    height: 280px;
    margin-right: 10px;
    text-align: center;

}
.quality h2{
    color: brown;
    font-weight: 549;
    font-size: 1.5em;
}
.quality p{
    color: gray;
    font-size: 17px;
}
.delivery{
    box-shadow: 0 4px 12px 0;
    text-align: center;
    border-radius: 10px;
    float: left;
    padding: 40px;
    width: 550px;
    height: 300px;
    margin-left: 60px;
}
.delivery h2{
    color: brown;
    font-weight: 549;
    font-size: 1.5em;
}
.delivery p{
    color: gray;
    font-size: 17px;
}
.meals{
    box-shadow: 0 4px 12px 0;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    float: right;
    width: 380px;
    height: 280px;
}
.meals h2{
    color: brown;
    font-weight: 549;
    font-size: 1.5em;
}
.meals p{
    color: gray;
    font-size: 17px;
}
.our-menu{
    text-align: center;
    padding-top: 10px;
}
.our{
    color: black;
    font-weight: 700;
    font-size: 40px;
}
.menu{
    color: orange;
    font-weight: 700;
    font-size: 40px;
}
hr{
    border: 6px solid chocolate;
    margin: 0 820px;
    
}