body{
    font-family: poppins;
    margin: 0;
    padding:0;
}
ul{
    list-style: none; 
    float: right;
    padding: 10px;

}
li{
    float: right;
}
li a{
    display: block;
    color: black;
    font-weight: 550;
    text-align: center ;
    padding: 15px 15px;
    text-decoration: none;
}li a:hover{
    cursor: hand;
}

.burger{
    background-color:#F6B400;
    padding: 20px;
}
.order img{
    padding: 50px;
}
.rain{
    font-weight: bold;
}
.burgers{
    background-color: #E1EBE6;
}
.btn{
    padding: 15px 35px;
    background-color: orange;
    color: white;
    font-weight: 200;
    border: none;
    border-radius: 20px 20px 0;
}