*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.bg-background{
position: absolute;
right: 0;
width: 50%;
height: 100%;
clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
background-color: #F6B400;right: 0;
}
.palace-logo{
    display: flex;
    justify-content: space-around;
}
.burger-logo{
    position: relative;
}
.burger-logo h4{
    font-size: 45px;}
.part-2{
    color: #F6B400;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 35px;
}
.links ul{
    justify-content: space-around;
    display: flex;
    list-style: none;
}
li a{
    display: inline-flex;
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 107px;
    text-decoration: none;
}
.links li{
    float: right;
    list-style: none;
    padding: 16px;
    font-size: 21px;
    font-weight: bold;
}
.links li:hover{
    border-bottom: 6px solid orange;
}
.burger-img{
    height: 70px;
}
.rain{
    float: left;
    font-weight: 690;
    font-size: 30px;
    margin-right: 5%;
    margin-right: 4%;
    padding-top: 50px;
}
.slogan{
    float: left;
    font-size: 13px;
    margin-right: 4%;
    margin-left: 3%;
    padding: 80px;
}
.slogan p{
    margin-top: 50px;
}
.btn{
    margin-top: 900px;
    padding: 15px 35px;
    background-color: orange;
    color: white;
    font-weight: 200;
    border: none;
    border-radius: 20px 20px 0;
    float: left; 
}
.slogan button{
    margin-top: 50px;
}
.services{
    background-color: #E1EBE6;
    box-sizing: border-box;
    padding-top: 250px;
    clear: both;
    display: flex;
    padding-bottom: 150px;
    margin-top: 358px;
}
.quality{
    box-shadow: 0 4px 12px 0;
    float: left;
    border-radius: 10px;
    padding: 30px;
    width: 380px;
    height: 280px;
    margin-right: 10px;
    text-align: center;

}
.quality h2{
    color: brown;
    font-weight: 549;
    font-size: 1.5em;
}
.quality p{
    color: gray;
    font-size: 17px;
}
.delivery{
    box-shadow: 0 4px 12px 0;
    text-align: center;
    border-radius: 10px;
    float: left;
    padding: 40px;
    width: 550px;
    height: 300px;
    margin-left: 60px;
}
.delivery h2{
    color: brown;
    font-weight: 549;
    font-size: 1.5em;
}
.delivery p{
    color: gray;
    font-size: 17px;
}
.meals{
    box-shadow: 0 4px 12px 0;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    float: right;
    width: 380px;
    height: 280px;
}
.meals h2{
    color: brown;
    font-weight: 549;
    font-size: 1.5em;
}
.meals p{
    color: gray;
    font-size: 17px;
}
.our-menu{
    text-align: center;
    padding-top: 10px;
}
.our{
    color: black;
    font-weight: 700;
    font-size: 40px;
}
.menu{
    color: orange;
    font-weight: 700;
    font-size: 40px;
}
hr{
    border: 6px solid chocolate;
    margin: 0 870px;
    
}
.menu-1{
    text-align: center;
    box-shadow: 0 4px 12px 0;
    margin-top: 50px;
    width: 333px;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    display: ;
}
.section-3{
    background-color: #E1EBE6;
    padding: 150px;
    margin-top: 80px;
}
.double-checker{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 35%;
}
#check-1{
    position: absolute;
    padding-top: 55px;
    width: 350px;
    left: 55%;

}
#check-2{
    margin-bottom: -80%;
    width: 350px;
    left: 55%;
    padding-top: 55px;
}
h3{
    color: black;
    font-weight: 700;
}
h4{
    color: #F6B400;
    font-weight: 700;

}
.double-checker p{
    font-size: 500;
}